
<%- include('../partials/header', {title: 'MovieApp'}) %>
<%- include('../partials/navBar') %>
<main>
    <h1>Hello <%= user.username %></h1>
    <div class="main__container">

        <form action="" method="get" class="search-form__container">
            <input type="text" name="search-movie" id="search-movie">
            <input type="submit" value="Submit">
        </form>

        <% if (movies && movies.length > 0) { %>
            <h2 class="results__title">Movie Search Results</h2>

            <div class="results__container">
                    <% movies.forEach(movie => { %>
                        <!-- <%= movie.title %> -->
                        <!-- Add other movie details as needed -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                              <div class="flip-card-front">
                                <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="Movie Poster">
                              </div>
                              <div class="flip-card-back">
                                <!-- <div class="flip-card-back_content"> -->
                                    <div class="movie-data">
                                        <span class="movie-title"><%= movie.title %></span>
                                        <span class="movie-avg">Voter Average: <%= movie.vote_average %></span>
                                        <span class="movie-release">Release Date: <%= movie.release_date %></span>
                                        <span><a class="movie-watchlist" data-movieid="<%= movie.id %>" href="#">Add to Watchlist</a></span>
                                        <!-- <button class="movie-add-watchlist" data-movieId="[<%= movie.id %>]">Add to Watchlist!</button> -->
                                    </div>
                                    
                                    <div class="movie-description">
                                        <p><%= movie.overview %></p>
                                    </div>
                                <!-- </div> -->
                              </div>
                            </div>
                          </div>
                    <% }); %>
            <% } else { %>
                <% if (message != '') { %>
                    <h3><%= message %></h3>
                <% } else { %>
                    <p>Movie Selection is available here.</p>
                <% } %>
            <% } %>
            </div>
    </div>
</main>
<%- include('../partials/footer') %>